/*element selector*/
h3{
    color:green;
}
/*class selector*/
.redtext{
    color: aqua;
}
/*id selector*/
#gf{
    color: red;
}
/*attribute selector*/
p[draggable]{
    color: yellow;
}
*{
    background: salmon;
}