/* Don't change the existing CSS. */
body{
  margin-top: 200px;
}
.box {
  background-color: blue;
  padding: 10px;

}
#outer-box{
  border: 10px solid purple; 
}
p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.white-text{
  background: red;
  padding: 15px;
  color:white
}
